/* app and libs overrides */

/* common styles overrides */
a {
	text-decoration: none
}
a:focus, a:hover, .btn-link:focus, .btn-link:hover {
	text-decoration: none !important;
}
.btn-full {
	width: 100%;
}
.text-light {
	font-weight: 300;
}
.text-normal {
	font-weight: 400;
}
.text-medium {
	font-weight: 500;
}
.text-bold {
	font-weight: 700;
}
.text-bolder {
	font-weight: bolder;
}
.text-italic {
	font-style: italic;
}
.text-smaller {
	font-size: 80% !important;
}
.lower {
	text-transform: lowercase;
}
.db {
	display: block !important;
}
.di {
	display: inline !important;
}
.dib {
	display: inline-block !important;
}
.auto-height {
	height: auto !important;
}
.lh-12 {
	line-height: 1.2 !important;
}
.lh-16 {
	line-height: 1.5 !important;
}
.lh-2 {
	line-height: 2 !important;
}
.no-b {
	border: 0px !important
}
.no-br {
	border-right: 0px !important
}
.no-bl {
	border-left: 0px !important
}
.no-bc {
	background: none !important;
}
.br-3 {
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
}
.br-0 {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}
.br-10 {
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
}
.br-15 {
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	border-radius: 15px !important;
}
.no-bs {
	box-shadow: none !important;
}
.no-float {
	float: none !important;
}
.pt-0 {
	padding-top: 0px !important;
}
.pt-5 {
	padding-top: 5px !important;
}
.pt-10 {
	padding-top: 10px !important;
}
.pt-15 {
	padding-top: 15px !important;
}
.pt-20 {
	padding-top: 20px !important;
}
.pt-25 {
	padding-top: 25px !important;
}
.pt-30 {
	padding-top: 30px !important;
}
.pt-35 {
	padding-top: 35px !important;
}
.pt-40 {
	padding-top: 40px !important;
}
.pt-50 {
	padding-top: 50px !important;
}
.pb-0 {
	padding-bottom: 0px !important;
}
.pb-5 {
	padding-bottom: 5px !important;
}
.pb-10 {
	padding-bottom: 10px !important;
}
.pb-15 {
	padding-bottom: 15px !important;
}
.pb-20 {
	padding-bottom: 20px !important;
}
.pb-25 {
	padding-bottom: 25px !important;
}
.pb-30 {
	padding-bottom: 30px !important;
}
.pb-35 {
	padding-bottom: 35px !important;
}
.pb-40 {
	padding-bottom: 40px !important;
}
.pb-50 {
	padding-bottom: 50px !important;
}
.pl-0 {
	padding-left: 0px !important;
}
.pl-5 {
	padding-left: 5px !important;
}
.pl-10 {
	padding-left: 10px !important;
}
.pl-15 {
	padding-left: 15px !important;
}
.pl-20 {
	padding-left: 20px !important;
}
.pl-25 {
	padding-left: 25px !important;
}
.pl-30 {
	padding-left: 30px !important;
}
.pl-35 {
	padding-left: 35px !important;
}
.pl-40 {
	padding-left: 40px !important;
}
.pr-0 {
	padding-right: 0px !important;
}
.pr-5 {
	padding-right: 5px !important;
}
.pr-10 {
	padding-right: 10px !important;
}
.pr-15 {
	padding-right: 15px !important;
}
.pr-20 {
	padding-right: 20px !important;
}
.pr-25 {
	padding-right: 25px !important;
}
.pr-30 {
	padding-right: 30px !important;
}
.pr-35 {
	padding-right: 35px !important;
}
.pr-40 {
	padding-right: 40px !important;
}
.mt-0 {
	margin-top: 0px !important;
}
.mt-5 {
	margin-top: 5px !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.mt-15 {
	margin-top: 15px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-25 {
	margin-top: 25px !important;
}
.mt-30 {
	margin-top: 30px !important;
}
.mt-35 {
	margin-top: 35px !important;
}
.mt-40 {
	margin-top: 40px !important;
}
.mb-0 {
	margin-bottom: 0px !important;
}
.mb-5 {
	margin-bottom: 5px !important;
}
.mb-10 {
	margin-bottom: 10px !important;
}
.mb-15 {
	margin-bottom: 15px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mb-25 {
	margin-bottom: 25px !important;
}
.mb-30 {
	margin-bottom: 30px !important;
}
.mb-35 {
	margin-bottom: 35px !important;
}
.mb-40 {
	margin-bottom: 40px !important;
}
.ml-0 {
	margin-left: 0px !important;
}
.ml-5 {
	margin-left: 5px !important;
}
.ml-10 {
	margin-left: 10px !important;
}
.ml-15 {
	margin-left: 15px !important;
}
.ml-20 {
	margin-left: 20px !important;
}
.ml-25 {
	margin-left: 25px !important;
}
.ml-30 {
	margin-left: 30px !important;
}
.ml-35 {
	margin-left: 35px !important;
}
.ml-40 {
	margin-left: 40px !important;
}
.mr-0 {
	margin-right: 0px !important;
}
.mr-5 {
	margin-right: 5px !important;
}
.mr-10 {
	margin-right: 10px !important;
}
.mr-15 {
	margin-right: 15px !important;
}
.mr-20 {
	margin-right: 20px !important;
}
.mr-25 {
	margin-right: 25px !important;
}
.mr-30 {
	margin-right: 30px !important;
}
.mr-35 {
	margin-right: 35px !important;
}
.mr-40 {
	margin-right: 40px !important;
}
.ml-minus-15 {
	margin-left: -15px !important;
}
.mr-minus-15 {
	margin-right: -15px !important;
}
.br-0 {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}
.br-5 {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
}
.br-10 {
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
}
.br-15 {
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	border-radius: 15px !important;
}
.br-circle {
	-webkit-border-radius: 1500px !important;
	-moz-border-radius: 1500px !important;
	border-radius: 1500px !important;
}
.va-top {
	vertical-align: top;
}
.va-middle {
	vertical-align: middle;
}
@media (max-width: 768px) {
    .pl-sm-15 {
        padding-left: 15px !important;
    }
    .pr-sm-15 {
        padding-right: 15px !important;
    }
    .ml-sm-0 {
    	margin-left: 0px !important;
    }
    .mr-sm-0 {
    	margin-right: 0px !important;
    }
}