@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100);

/* generic styles */
html, body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-weight: 400;
	height: 100%;
}
/* welcome */
.full-height {
	min-height: calc(100% - 110px);
}
.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}
.position-ref {
	position: relative;
}
.text-lato {
	font-family: 'Lato';
}
.welcome-title {
	font-size: 76px;
	margin-bottom: 40px;
}
/* font-sizes */
.fs-13 {
	font-size: 13px;
}
/* colors */
.text-white {
	color: #fff !important;
}
/* orientation*/
.text-left {
	text-align:left !important;
}
/* sizes */
.width-80 {
	width: 80px;
}
.width-45 {
	width: 45px;
}
.width-200 {
	width: 200px;
}
.make-center {
	text-align: center;
	margin: 0 auto; 
}
/* bootstrap */
.input-group-addon .form-control {
	min-width: 150px;
}